.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#imgs{

  display: flex;
  justify-content: space-between;
  height: 10%;
}
#login{
  float: inline-end;
  text-align: end;
}
.c1{
  text-align: center;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#header{
  width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: serif;
   background-color: aqua;
}


#matrimony{
  font-size: 50px;
  display:inline-block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
